<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.mapper.GoodsMapper">
  <select id="select" resultType="com.bean.Goods">
		SELECT
			*
		FROM
			tb_goods g,tb_brand b,tb_goodskind k
		WHERE
			g.bid = b.bid 
			AND g.zid = k.zid
		 <!-- <if test="keynum != null and keynum != ''">
			and gname like concat('%',#{keynum},'%')
		</if>  -->
	</select>
  
  </mapper>